# Node
node_modules/
.next/
.expo/
dist/

# Push
firebase-service-account.json
google-services.json

# Env fajlovi
.env
.env.local
.env*.local

# Supabase
supabase/.branches
backend/supabase/.temp

# OS/editor
.DS_Store
.vscode/
*.log

# CLAUDE fajlovi
.claude
CLAUDE.md
AGENTS.md